<!-- Особое заклинание для сборщика сайта. Собрать эту страницу не в /about.html, а в /about/index.html, чтобы в браузере она открывалась по красивому адресу /about/ -->
---
permalink: "/about/index.html"
---

<!-- См. комментарии в index.html -->
{% extends 'layout.html' %}

{% set pageTitle = 'Люди' %}

{% block content %}
  <!-- Пример использования переменной -->
  <h1>{{ pageTitle }}</h1>
  <p>Направленный маркетинг, однако, означает ролевой феномен толпы. Механизм власти, тем более в условиях социально-экономического кризиса, категорически отчуждает опасный коллапс Советского Союза.</p>
  <p>Политическая социализация отражает индивидуальный направленный маркетинг. Бессознательное, особенно в условиях политической нестабильности, верифицирует плюралистический субъект власти, что отмечают такие крупнейшие ученые как Фрейд, Адлер, Юнг, Эриксон, Фромм. Политическое манипулирование представляет собой культурный рейтинг. Интроекция доказывает бихевиоризм.</p>
{% endblock %}

